.image-grid {
    display: flex;
    flex-wrap: wrap;
    /* gap: 16px; */
  }
  
  .image-container {
    /* flex: 1 1 calc(25% - 16px); /* Adjust the size as per your need */
    /* box-sizing: border-box; */
    position: relative;
  }
  
  .image-card {
    position: relative;
    overflow: hidden;
  }
  
  .image-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  
  .image-card:hover .image-description {
    opacity: 1;
  }
  